<md-toolbar>

  <button fxFlex="33" md-icon-button class="nav-button" (click)="sidenav.toggle()">
    <i class="material-icons">menu</i>
  </button>

  <i fxFlex="33" class="nav-logo icon-yeezy icon-YeezyVoteBlack"></i>

  <div [hidden]="numVotes > 5 || numVotes < 1" class="nav-vote-count" fxFlex="33"> {{numVotes}}/5</div>

</md-toolbar>


<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav mode="over" opened="false" class="docs-component-viewer-sidenav">
    <div class="menu-items" fxLayout="column">
      <span>View Tracks By</span>
      <a (click)="sidenav.close()" routerLink="/albums" routerLinkActive="active">Album</a>
      <a (click)="sidenav.close()" routerLink="/songs" routerLinkActive="active">Song</a>
    </div>
  </md-sidenav>
  <div class="app-content">

    <!-- Routed views go here -->
    <router-outlet></router-outlet>

    <app-notification-snack></app-notification-snack>

  </div>
</md-sidenav-container>
